
<template>
  <div class="body">
    <div class="home">
      <header>
        <div>
            <a v-on:click="loadHome" class="logo">CALZADOSTORE</a>
            <!-- <a v-if="is_auth" class="login">Admin2</a> -->
            <a v-if="is_auth" v-on:click="loadAdmin" class="login">Admin</a>
            <a v-if="!is_auth" v-on:click="loadLogIn" class="login">Login</a>
            <a v-if="is_auth" v-on:click="logOut" class="login"> Cerrar Sesión </a>
            <a v-if="is_auth" v-on:click="agregar" class="login"> agregar producto </a>
            <!-- <a v-if="is_auth" v-on:click="editar" class="login"> Editar </a> -->
            
        </div>   
      </header>
      <div class="main-component">
          <router-view  
              v-if="isRouterAlive"
              v-on:completedLogIn="completedLogIn"
              v-on:completedSignUp="completedSignUp"
          >
          </router-view>
      </div>
      <footer id="footer">
        <div>
            <p class="logo">CALZADOSTORE</p>
        <div class="acerdaDe">
            <p>Acerca de</p>
            <p>Sobre Nosotros</p>
        </div>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import home from './components/home'
import productVue from './components/product'
import login from './components/LogIn.vue'
import agregar from './components/agregar.vue'
import editar from './components/edit.vue'


export default {
  inject: ['reload'],
  provide(){
    return {
      reload: this.reload,
    }
  },
  data(){
    return{
      isRouterAlive: true
    }
  },
  components: {
    'home': home,
    'product': productVue,
    'LogIn' : login,
    'agregar': agregar,
    'edit' : editar,
    
  },
  methods:{
    reload(){
      this.isRouterAlive = false
      this.$nextTick(function(){
        this.isRouterAlive = true
      })
    },
    verifyAuth: function() {
      this.is_auth = localStorage.getItem("isAuth") || false;
      if (this.is_auth == false)
        this.$router.push({ name: "logIn" });
      else
        this.$router.push({ name: "home" });
    },
        loadHome: function() {
          this.$router.push({ name: "home" });
        },
        loadLogIn: function(){
            this.$router.push({name: "logIn"})
        },
        loadAdmin: function(){
            this.$router.push({name: "admin"})
        },
        completedLogIn: function(data) {
          localStorage.setItem("isAuth", true);
          localStorage.setItem("username", data.username);
          localStorage.setItem("token_access", data.token_access);
          localStorage.setItem("token_refresh", data.token_refresh);
          alert("Autenticación Exitosa");
          this.verifyAuth();
          location.reload();
        },
        logOut: function () {
          localStorage.clear();
          alert("Sesión Cerrada");
          this.verifyAuth();
          location.reload();
        },
        agregar: function () {
          this.$router.push({name: "agregar"})
        },
        editar: function () {
          this.$router.push({name: "editar"})
        },

    },
    created: function(){
    this.verifyAuth()
    this.reload()
  }
}
  axios.get("https://tienda-calzado-g4.herokuapp.com/productos/", {headers: {'Authorization': `Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjM0ODc0MjExLCJpYXQiOjE2MzQ4NzA2MTEsImp0aSI6ImQ3YzI0OTY0Mzc0MjQ2NzU4OTA4ZDk2ZTA1NDE2Yzg5IiwidXNlcl9pZCI6MX0.8Yk5ccjAbDcojfseD2_pttk3_g8IshBH_3ZbAscTp4o`}})
        .then(response => localStorage.setItem("Productos", JSON.stringify(response.data)) )
    if(localStorage.getItem("Productos") != null){
        console.log(JSON.parse(localStorage.getItem("Productos"))[0].nombre_producto)
    }
</script>

<style>
  *{
    box-sizing:border-box;
    margin:0;
  }
  body{
    display: flex !important;
    min-height: 500px !important;
    padding: 0px !important;
    width: 100% !important;
  }
  .body{
    min-height: 500px;
  }
  #app{
    width: 100% !important;
  }
  header{
    height: 70px;
    width: 100%;  
  }
  .home{
    margin: 0 auto;
  }
  footer{
        background-color: black;    
        margin-top: 25px; 
        height: 150px;
        padding: 0px 10px 0px 10px;
        bottom: 0;
        width: 100%;
    }
    footer div{
        display: flex;
        height: 100%;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
        color: white; 
        max-width: 1200px;
        margin: 0 auto;
    }
    .acerdaDe{
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 40px;
    }
    header{
        background-color: rgb(0, 0, 0); 
        margin-bottom: 25px;   
    }
    header div{
        display: flex;
        height: 100%;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
        color: white; 
        max-width: 1200px;
        margin: 0 auto;
    }
    .logo{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: bolder;
    }
    .login{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;;
    }
    a.router-link-exact-active{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

    

  

</style>

