<template>
    <div class="admin_view">
        <h2>ADMIN VIEW</h2>
        <table class="default">
            <tr class="header-tabla">
                <th>ID</th>
                <th>Referencia</th>
                <th>Nombre</th>
                <th>Costo</th>
                <th>Precio Venta</th>
                <th>Oferta</th>
                <th>Publicado</th>
                <th>Stock</th>
                <th>URL</th>
                <th>Proveedor</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <tr class="body-tabla" v-for="producto in productos" :key="producto">
                <td class="id padding-left">{{producto.id_producto}}</td>
                <td class="padding-left">{{producto.referencia_producto}}</td>
                <td class="nombre">{{producto.nombre_producto}}</td>
                <td class="dinero padding-left">${{producto.costo_producto}}</td>
                <td class="dinero padding-left">${{producto.precio_venta_producto}}</td>
                <td class="dinero padding-left">${{producto.oferta_producto}}</td>
                <td>{{producto.publicado}}</td>
                <td>{{producto.stock_producto}}</td>
                <td class="url">{{producto.img_url_producto}}</td>
                <td>{{producto.proveedor_producto}}</td>
                <td><button v-on:click="editar(producto.id_producto)">Editar</button></td>
                <td><button v-on:click="onDelete(producto.id_producto)">Eliminar</button></td>
            </tr>
        </table>
    </div>
</template>

<script>
import axios from 'axios';
import jwt_decode from "jwt-decode";


export default {
    name: "Admin",
    
    data: function(){
        return{
            productos: JSON.parse(localStorage.getItem("Productos")),
        }
    },
    methods: {
        getData: async function () {
            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
            this.$emit('logOut');
                return;
            }
            await this.verifyToken();
            let token = localStorage.getItem("token_access");
            let userId = jwt_decode(token).user_id.toString();

        
            
            axios.post("https://tienda-calzado-g4.herokuapp.com/login/",
                this.user,
                {headers: {}}
                )
                .then((result) => {
                    let dataLogIn = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                            
                    }
                        this.$emit('completedLogIn', dataLogIn)
                    })
                .catch((error) => {
                    if (error.response.status == "401")
                        alert("ERROR 401: Credenciales Incorrectas.");
                        this.$emit('logOut');

                });
            
        },
        verifyToken: function () {
        return axios.post("https://tienda-calzado-g4.herokuapp.com/login/refresh", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
        .then((result) => {
            localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
            this.$emit('logOut');
        });
        },

        onDelete: async function(id){
            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
            this.$emit('logOut');
                return;
            }
            await this.verifyToken();
            let token = localStorage.getItem("token_access");

            return axios.delete(`https://tienda-calzado-g4.herokuapp.com/productos/delete/`, {
                headers: {'Authorization': `Bearer ${token}`}, data: {id_producto: id,
                }
                }).then(response => {
                    location.reload();
                })
            
        },
        editar: function (id) {
            localStorage.setItem("numeroEdit", id)
            
            
            this.$router.push({name: "editar"})
            

        },
    }
}

</script>


<style>
    .admin_view{
        max-width: 1200px;
        margin: 0 auto;
    }
    .admin_view H2{
        text-align: center;
    }
    .header-tabla{
        font-size:18px;
    }
    .header-tabla th{
        border: 2px solid rgb(83, 83, 83);
        height:45px
    }
    .body-tabla{
        font-size:17px;
        height: 40px;
        border-color: black;
    }
    .body-tabla td{
        border: 1px solid rgb(83, 83, 83);
    }
    .url{
        max-width: 200px;
        white-space: nowrap;
        overflow:hidden;
    }
    .nombre{
        max-width: 180px;
    }
    .dinero{
        width: 90px;
    }
    .default{
        margin: 0 auto;
    }
    .id{
        width: 40px;
    }
    .padding-left{
        padding-left: 5px;
    }
</style>