<template>
  <div class="agregar_producto">
    <div class="container_agregar_producto">
      <h2>Agregar Producto</h2>
      <div class="marco">
        <form class="formulario" v-on:submit.prevent="processAdd">
          <label>Referencia</label>
          <input
            class="field"
            type="text"
            v-model="body.referencia_producto"
            placeholder="referencia_producto"
          />
          <label>Nombre</label>
          <input
            class="field"
            type="text"
            v-model="body.nombre_producto"
            placeholder="nombre_producto"
          />
          <label>Costo</label>
          <input
            class="field"
            type="text"
            v-model="body.costo_producto"
            placeholder="costo_producto"
          />
          <label>Precio</label>
          <input
            class="field"
            type="text"
            v-model="body.precio_venta_producto"
            placeholder="precio_venta_producto"
          />
          <label>Oferta</label>
          <input
            class="field"
            type="text"
            v-model="body.oferta_producto"
            placeholder="oferta_producto"
          />
          <div class="publicado">
            <label >Publicado</label>
            <input class="field check" type="checkbox" v-model="body.publicado" />
          </div>
          <label>Stock</label>
          <input class="field" type="text" v-model="body.stock_producto" />
          <label>Imagen Url</label>
          <input
            class="field"
            type="text"
            v-model="body.img_url_producto"
            placeholder="img_url_producto"
          />
          <label>Proveedor</label>
          <input
            class="field"
            type="text"
            v-model="body.proveedor_producto"
            placeholder="proveedor_producto"
          />
          <button type="submit" class="btn">Agregar producto</button>
        </form>
      </div>
    </div>
  </div>
</template>
<script>

import axios from "axios";
import jwt_decode from "jwt-decode";

export default {
  name: "agregar",

  data: function () {
    return {
      body: {
        referencia_producto: 0,
        nombre_producto: "null",
        costo_producto: 0,
        precio_venta_producto: 0,
        oferta_producto: 0,
        publicado: false,
        stock_producto: 0,
        img_url_producto: "null",
        proveedor_producto: 1,
      },
    };
  },
  methods: {
    processAdd: async function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }
      await this.verifyToken();
      let token = localStorage.getItem("token_access");

      // },
      // processAdd: function(){
      axios
        .post(
          "https://tienda-calzado-g4.herokuapp.com/productos/create/",
          this.body,
          { headers: { Authorization: `Bearer ${token}` } }
        )
        .then((result) => {
          let dataLogIn = {
            username: this.body.username,
            token_access: result.data.access,
            token_refresh: result.data.refresh,
          };
        //   this.$emit("completedLogIn", dataLogIn);
        })
        .catch((error) => {
          if (error.response.status == "401")
            alert("ERROR 401: Credenciales Incorrectas.");
        });
    },
    verifyToken: function () {
      // return axios.post("https://tienda-calzado-g4.herokuapp.com/login/refresh", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
      // .then((result) => {
      //     localStorage.setItem("token_access", result.data.access);
      // })
      // .catch(() => {
      //     this.$emit('logOut');
      // });
    },
  },
};
</script>
<style>
    .container_agregar_producto h2,
    .container_agregar_producto form
    {
      margin: 0 auto;
      text-align: center;
    }
    .container_agregar_producto h2{
      font-size: 34px;
    }
    .container_agregar_producto form input{
      height: 35px;
      width: 540px;
      font-size:18px;
      padding-left: 5px;
    }
    .check{
      height: 35px !important;
      width: 22px !important;
      font-size: 18px !important;
      margin: 1px 0 0 15px !important;
    }
    .btn{
      height: 45px;
      margin: 15px 0 40px;
      background-color: #000000;
      font-size: 18px;
      color: white;
    }
    .marco{
      border: 1px solid rgb(66, 66, 66);
      width: 650px;
      padding-top: 22px;
      margin: 25px auto;

    }

    
</style>