<template>
  <div class="agregar_producto">
    <div class="container_agregar_producto">
      <h2>Editar el producto #{{body.id_producto}}</h2>
      <div class="marco">
        <form class="formulario" v-on:submit.prevent="processAdd">

          <label>Referencia</label>
          <input
            class="field"
            type="text"
            v-model="body.referencia_producto"
            placeholder="referencia_producto"
          />

          <label>Nombre</label>
          <input
            class="field"
            type="text"
            v-model="body.nombre_producto"
            placeholder="nombre_producto"
          />

          <label>Costo</label>
          <input
            class="field"
            type="text"
            v-model="body.costo_producto"
            placeholder="costo_producto"
          />

          <label>Precio</label>
          <input
            class="field"
            type="text"
            v-model="body.precio_venta_producto"
            placeholder="precio_venta_producto"
          />

          <label>Oferta</label>
          <input
            class="field"
            type="text"
            v-model="body.oferta_producto"
            placeholder="oferta_producto"
          />
          <div class="publicado">
            <label >Publicado</label>
            <input class="field check" type="checkbox" v-model="body.publicado" />
          </div>

          <label>Stock</label>
          <input class="field" type="text" v-model="body.stock_producto" />


          <label>Imagen Url</label>
          <input
            class="field"
            type="text"
            v-model="body.img_url_producto"
            placeholder="img_url_producto"
          />
          <label>Proveedor</label>
          <input
            class="field"
            type="text"
            v-model="body.proveedor_producto"
            placeholder="proveedor_producto"
          />

          <button type="submit" class="btn">Editar producto</button>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
import jwt_decode from "jwt-decode";



export default {
    
    name: "Admin",
    
    
    data: function(){

        let id_producto = Number(localStorage.getItem("numeroEdit"))
        let productos = JSON.parse(localStorage.getItem("Productos"))
        let producto = productos.find(p => p.id_producto === id_producto)
        return{
            body: {
                id_producto:producto.id_producto,
                referencia_producto: producto.referencia_producto,
                nombre_producto: producto.nombre_producto,
                costo_producto: producto.costo_producto,
                precio_venta_producto: producto.precio_venta_producto,
                oferta_producto: producto.oferta_producto,
                publicado: producto.publicado,
                stock_producto: producto.stock_producto,
                img_url_producto: producto.img_url_producto,
                proveedor_producto: producto.proveedor_producto,
            },
        }
    },
    methods: {
        processAdd: async function () {
            if (
                localStorage.getItem("token_access") === null ||
                localStorage.getItem("token_refresh") === null
            ) {
                this.$emit("logOut");
                return;
            }
            await this.verifyToken();
            let token = localStorage.getItem("token_access");

            axios.put("https://tienda-calzado-g4.herokuapp.com/productos/update/",
                this.body,
                {headers: {'Authorization': `Bearer ${token}`}, 
                })
                .catch((error) => {
                if (error.response.status == "401")
                    alert("ERROR 401: Credenciales Incorrectas.");
                });
            location.reload();
            this.$router.push({name: "admin"})
        },
        verifyToken: function () {
            // return axios.post("https://tienda-calzado-g4.herokuapp.com/login/refresh", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
            // .then((result) => {
            //     localStorage.setItem("token_access", result.data.access);
            // })
            // .catch(() => {
            //     this.$emit('logOut');
            // });
        },
    }
}

</script>


<style>
    .admin_view{
        max-width: 1200px;
        margin: 0 auto;
    }
    .admin_view H2{
        text-align: center;
    }
    .formulario{
      display: flex;
      flex-direction: column;
      max-width:540px;
    }
    .formulario label{
      text-align:start;
      margin: 0;
      font-size: 20px
    }
    .formulario input{
      border-radius: 5px;
      border: 1px solid rgb(83, 83, 83);
      margin-bottom: 5px;
    }
    .publicado{
      display: flex;
      align-items: center;
      
    }
</style>