<template>
  <div class="body">

            <div class="product">
                <ul class="card-wrapper">
                    <li class="card">
                    <img src='https://m.media-amazon.com/images/I/71D9ImsvEtL._UY500_.jpg' alt=''>
                        <div class="info">
                        <h1>TITULO</h1>
                        <p>Lorem ipsum sit dolor amitLorem ipsum sit dolor amitLorem ipsum sit dolor amit Lorem ipsum sit dolor amitLorem ipsum sit dolor amitLorem ipsum sit dolor amitLorem ipsum sit dolor amitLorem ipsum sit dolor amit </p>
                        <button>COMPRAR</button>
                    </div>
                    </li>
                </ul>
                <h1>Hola mundo</h1>
            </div>
        </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'product',

        data: function(){
            
        },

        methods:{
        },

        created: function(){
        },
        components: {

        }
    }
    //axios.get("https://tienda-calzado-g4.herokuapp.com/productos/", {headers: {'Authorization': `Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjM0ODc0MjExLCJpYXQiOjE2MzQ4NzA2MTEsImp0aSI6ImQ3YzI0OTY0Mzc0MjQ2NzU4OTA4ZDk2ZTA1NDE2Yzg5IiwidXNlcl9pZCI6MX0.8Yk5ccjAbDcojfseD2_pttk3_g8IshBH_3ZbAscTp4o`}})
        //.then(response => console.log(response) )
</script>

<style>


</style>

